@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-icon {
  animation: chat-icon 0.5s infinite ease-in-out;
}

.show-image {
  animation: show-image 1s ease-in-out;
}

.show-sidebar {
  animation: show-sidebar 0.3s ease-out;
}

@keyframes chat-icon {
  0% {
    transform: translate(2px, 0px);
  }
  50% {
    transform: translate(2px, -10px);
  }
  100% {
    transform: translate(2px, 0px);
  }
}

@keyframes show-image {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes show-sidebar {
  0% {
    position: relative;
    top: 30px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}
